[Unit]
Description=Power monitor startup script
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/pm-monitor
WatchdogSec=3
Restart=always

[Install]
WantedBy=multi-user.target

